.light {
  color: #213547 !important;
  background-color: #ffffff !important;
}

.dark {
  color: #ffffff !important;
  background-color: #213547 !important;
  min-height: 100vh !important;
}

.themeButton {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.bi-moon {
  color: #ffffff !important;
}

.text-justify {
  text-align: justify;
}
